@model SchoolWiz.WebApp.Models.Role.RoleCreateViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["PageName"] = "role_create";
    ViewData["Category1"] = "Security";
    ViewData["Category2"] = "TRoles";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-cogs'></i> Create a new Role</sup>";
    ViewData["PageDescription"] = "Roles are used to assign different levels of access to users.";
}

@{ ViewBag.Title = "Create";}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/notifications/toastr/toastr.css">
    <script src="~/js/toast.js" asp-append-version="true"></script>
}

<div class="alert alert-primary">
    <div class="d-flex flex-start w-100">
        <div class="mr-2 hidden-md-down">
            <span class="icon-stack icon-stack-lg">
                <i class="base base-2 icon-stack-3x opacity-100 color-primary-500"></i>
                <i class="base base-2 icon-stack-2x opacity-100 color-primary-300"></i>
                <i class="@(Settings.Theme.IconPrefix) fa-info icon-stack-1x opacity-100 color-white"></i>
            </span>
        </div>
        <div class="d-flex flex-fill">
            <div class="flex-fill">
                <span class="h5">About</span>
                <p>
                    Roles gives the user it is assigned to access to certain parts of the application
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>Create a new Role</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form method="post" enctype="multipart/form-data" asp-controller="Role" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label asp-for="Name" class="form-text"></label>
                            </div>
                            <div class="form-group col-md-11">
                                <input class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-1"></div>
                            <div class="custom-control custom-checkbox" style="margin-left: 0.7em;">
                                <input type="checkbox" class="custom-control-input" asp-for="InActive">
                                <label class="custom-control-label" asp-for="InActive"></label>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary float-left"><i class="@(Settings.Theme.IconPrefix) fa-save"></i> Save</button>
                            <a class="btn btn-success float-right" asp-controller="Role" asp-action="Index"><i class="@(Settings.Theme.IconPrefix) fa-caret-square-left" style="margin-right: 0.7em"> Back</i></a>
                        </div><br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script>
        $(document).ready(function () {
            var displayToast = '@TempData["DisplayToast"]';
            if (displayToast === 'True' || displayToast === 'true') {
                var toastType = '@TempData["ToastType"]';
                var toastTitle = '@TempData["ToastTitle"]';
                var toastMessage = '@TempData["ToastMessage"]';

                toastJs.showToastMessage(toastType, toastTitle, toastMessage);
            }
        });
    </script>
}