@model IEnumerable<SchoolWiz.WebApp.Models.AccountStatus.AccountStatusIndexViewModel>

@{
    ViewData["Title"] = "Account Status";
    ViewData["PageName"] = "account_status_index";
    ViewData["Category1"] = "Setup";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-cogs'></i> Account Status List</sup>";
    ViewData["PageDescription"] = "Account statuses apply to accounts that will be used to invoice.";
}

@{ ViewBag.Title = "Account Status";}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/notifications/toastr/toastr.css">
    <script src="~/js/toast.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>View Account Statuses</h2>
                <div class="panel-toolbar">
                    <a class="btn btn-sm btn-outline-success float-md-right" asp-controller="AccountStatus" asp-action="Create"> New Account Status</a>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="col-md-12 table-responsive-md">
                        <table id="accountStatusIndexTable" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>InActive</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var accountStatus in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-controller="AccountStatus" asp-action="Edit" asp-route-id="@accountStatus.Id">
                                                @accountStatus.Name
                                            </a>
                                        </td>
                                        <td>
                                            @accountStatus.InActive
                                        </td>
                                        <td>
                                            <a class="text-primary" asp-action="Edit" asp-route-id="@accountStatus.Id">
                                                <i class="@(Settings.Theme.IconPrefix) fa-edit"></i> Edit
                                            </a>
                                            <a class="text-danger" href="#" onclick="siteJs.showDeleteView('AccountStatus/Delete/?id=', '#account-status-delete-dialog', '#account-status-delete-modal-body', '@accountStatus.Id');">
                                                <i class="@(Settings.Theme.IconPrefix) fa-trash-alt"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="account-status-delete-dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Confirm Delete
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                </button>
            </div>
            <form id="delete-account-status-form" asp-controller="AccountStatus" asp-action="Delete" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
                <div id="account-status-delete-modal-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script>
        $(document).ready(function () {
            var displayToast = '@TempData["DisplayToast"]';
            if (displayToast === 'True' || displayToast === 'true') {
                var toastType = '@TempData["ToastType"]';
                var toastTitle = '@TempData["ToastTitle"]';
                var toastMessage = '@TempData["ToastMessage"]';

                toastJs.showToastMessage(toastType, toastTitle, toastMessage);
            }

            siteJs.initializeDataTable('#accountStatusIndexTable');
        });
    </script>
}
