@model IEnumerable<SchoolWiz.WebApp.Models.City.CityIndexViewModel>

@{
    ViewData["Title"] = "Cities";
    ViewData["PageName"] = "city_index";
    ViewData["Category1"] = "Setup";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-cogs'></i> City List</sup>";
    ViewData["PageDescription"] = "Cities are used in creating addresses.";
}

@{ ViewBag.Title = "Cities";}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/notifications/toastr/toastr.css">
    <script src="~/js/toast.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>View Cities</h2>
                <div class="panel-toolbar">
                    <a class="btn btn-sm btn-outline-success float-md-right" asp-controller="City" asp-action="Create"> New Province</a>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="col-md-12 table-responsive-md">
                        <table id="cityIndexTable" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr class="d-flex">
                                    <th class="col-2">Name</th>
                                    <th class="col-2">Province</th>
                                    <th class="col-2">Country</th>
                                    <th class="col-2" style="text-align: center">InActive</th>
                                    <th class="text-warning col-2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var city in Model)
                                {
                                    <tr class="d-flex">
                                        <td class="col-2" style="padding-right: 30px;">
                                            <a asp-controller="City" asp-action="Edit" asp-route-id="@city.Id">
                                                @city.Name
                                            </a>
                                        </td>
                                        <td class="col-2" style="padding-right: 30px;">
                                            @city.Province
                                        </td>
                                        <td class="col-2" style="padding-right: 30px;">
                                            @city.Country
                                        </td>
                                        <td class="col-2" style="text-align: center; padding-right: 30px;">
                                            @city.InActive
                                        </td>
                                        <td class="col-2">
                                            <a class="text-primary" asp-action="Edit" asp-route-id="@city.Id">
                                                <i class="@(Settings.Theme.IconPrefix) fa-edit"></i> Edit
                                            </a>
                                            <a class="text-danger" href="#" onclick="siteJs.showDeleteView('City/Delete?id=', '#city-delete-dialog', '#city-delete-modal-body', '@city.Id');">
                                                <i class="@(Settings.Theme.IconPrefix) fa-trash-alt"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="city-delete-dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Confirm Delete
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                </button>
            </div>
            <form id="delete-city-form" asp-controller="City" asp-action="Delete" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
                <div id="city-delete-modal-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script>
        $(document).ready(function () {
            var displayToast = '@TempData["DisplayToast"]';
            if (displayToast === 'True' || displayToast === 'true') {
                var toastType = '@TempData["ToastType"]';
                var toastTitle = '@TempData["ToastTitle"]';
                var toastMessage = '@TempData["ToastMessage"]';

                toastJs.showToastMessage(toastType, toastTitle, toastMessage);
            }

            siteJs.initializeDataTable('#cityIndexTable');
        });
    </script>
}