@model SchoolWiz.Common.Models.Address.AddressEntryViewModel

@{
    var postalCityListName = $@"{Model.ElementPrefix}PostalCityList";
    var postalUnitNumberName = $@"{Model.ElementPrefix}PostalUnitNumber";
    var postalComplexName = $@"{Model.ElementPrefix}PostalComplex";
    var postalStreetAddressName = $@"{Model.ElementPrefix}PostalStreetAddress";
    var postalSuburbName = $@"{Model.ElementPrefix}PostalSuburb";
    var postalProvinceName = $@"{Model.ElementPrefix}PostalProvince";
    var postalCountryName = $@"{Model.ElementPrefix}PostalCountry";
    var postalPostalCodeName = $@"{Model.ElementPrefix}PostalPostalCode";
    var physicalCityListName = $@"{Model.ElementPrefix}PhysicalCityList";
    var physicalProvinceName = $@"{Model.ElementPrefix}PhysicalProvince";
    var physicalCountryNae = $@"{Model.ElementPrefix}PhysicalCountry";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-hdr">
                <h2>Physical Address</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.UnitNumber" class="form-text"></label>
                            <input class="form-control" asp-for="PhysicalAddress.UnitNumber" />
                            <span asp-validation-for="PhysicalAddress.UnitNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.ComplexName" class="form-text"></label>
                            <input class="form-control" asp-for="PhysicalAddress.ComplexName" />
                            <span asp-validation-for="PhysicalAddress.ComplexName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.StreetAddress" class="form-text font-weight-bold"></label>
                            <input class="form-control" asp-for="PhysicalAddress.StreetAddress" />
                            <span asp-validation-for="PhysicalAddress.StreetAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.Suburb" class="form-text"></label>
                            <input class="form-control" asp-for="PhysicalAddress.Suburb" />
                            <span asp-validation-for="PhysicalAddress.Suburb" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.CityId" class="form-text font-weight-bold"></label>
                            <select id="@physicalCityListName" class="select2 form-control w-100" asp-for="PhysicalAddress.CityId" asp-items="@Model.PhysicalAddress.Cities" onchange="siteJs.getCityDetails('@Url.Action("GetCity", "City")', '#@physicalCityListName', '#@physicalProvinceName', '#@physicalCountryNae');">
                                <option value="@Guid.Empty">-- Select a City --</option>
                            </select>
                            <span asp-validation-for="PhysicalAddress.CityId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.Province" class="form-text"></label>
                            <input id="@physicalProvinceName" class="form-control" asp-for="PhysicalAddress.Province" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhysicalAddress.Country" class="form-text"></label>
                            <input id="@physicalCountryNae" class="form-control" asp-for="PhysicalAddress.Country" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="PhysicalAddress.PostalCode" class="form-text font-weight-bold"></label>
                            <input class="form-control" asp-for="PhysicalAddress.PostalCode" />
                            <span asp-validation-for="PhysicalAddress.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-hdr">
                <h2>Postal Address</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.UnitNumber" class="form-text"></label>
                            <input id="@postalUnitNumberName" class="form-control" asp-for="PostalAddress.UnitNumber" />
                            <span asp-validation-for="PostalAddress.UnitNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.ComplexName" class="form-text"></label>
                            <input id="@postalComplexName" class="form-control" asp-for="PostalAddress.ComplexName" />
                            <span asp-validation-for="PostalAddress.ComplexName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.StreetAddress" class="form-text font-weight-bold"></label>
                            <input id="@postalStreetAddressName" class="form-control" asp-for="PostalAddress.StreetAddress" />
                            <span asp-validation-for="PostalAddress.StreetAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.Suburb" class="form-text"></label>
                            <input id="@postalSuburbName" class="form-control" asp-for="PostalAddress.Suburb" />
                            <span asp-validation-for="PostalAddress.Suburb" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.CityId" class="form-text font-weight-bold"></label>
                            <select id="@postalCityListName" class="select2 form-control w-100" asp-for="PostalAddress.CityId" asp-items="@Model.PostalAddress.Cities" onchange="siteJs.getCityDetails('@Url.Action("GetCity", "City")', '#@postalCityListName', '#@postalProvinceName', '#@postalCountryName');">
                                <option value="@Guid.Empty">-- Select a City --</option>
                            </select>
                            <span asp-validation-for="PostalAddress.CityId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.Province" class="form-text"></label>
                            <input id="@postalProvinceName" class="form-control" asp-for="PostalAddress.Province" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="PostalAddress.Country" class="form-text"></label>
                            <input id="@postalCountryName" class="form-control" asp-for="PostalAddress.Country" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="PostalAddress.PostalCode" class="form-text font-weight-bold"></label>
                            <input id="@postalPostalCodeName" class="form-control" asp-for="PostalAddress.PostalCode" />
                            <span asp-validation-for="PostalAddress.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>